// _buttons.scss

@import "variables";
@import "colors";
@import "reset";
@import "breakpoints";

button.#{$namespace}-btn {
  display: inline-flex;
  align-items: center;
  color: $white;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  padding: 0px 15px;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: none;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border: none;
  transition: filter 0.2s ease;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  
  span {
    margin-left: 5px;
  }
  svg {
    width: 16px;
    height: 16px;
  }
  
  &:hover {
    filter: brightness(110%);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &-large {
    font-size: 15px;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    svg {
      width: 18px;
      height: 18px;
      + span {
        margin-left: 10px;
      }
    }
  }
  &-icon-only {
    border-radius: 3px;
    padding: 0 7px;
    margin-right: 0;
    svg {
      margin-right: 0 !important;
    }
  }
  &-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    svg {
      width: 24px;
      height: 24px;
    }
    &:focus {
      box-shadow: none !important;
      svg {
        fill: $black !important;
      }
    }
  }
  &-text-only {
    > span {
      margin-left: 0;
    }
  }
  &-subtext {
    flex-direction: column;
    height: auto;
    padding: 5px;
    border-radius: 0;
    span {
      margin-left: 0;
      line-height: 1em;
      margin-top: 5px;
      font-weight: 400;
    }
    svg {
      width: 18px;
      height: 18px;
    }
  }
  &-with {
    &-checkbox {
      position: relative;
      padding-right: 30px;
      > svg {
         margin-left: -15px;
      }
      &.#{$namespace}-btn-text-only {
        > span {
          margin-left: -15px;
        }
      }
      @include tablet {
        display: none;
      }
    }
  }
  &-collapsable {
    @include tablet {
      span { display: none }
    }
  }
}