// _colors.scss

$white: #FFF;
$black: #000;
$gray: #CCC;
$alt-gray: #BBB;
$hint-gray: #f0f0f1;
$light-gray: #E2E1E5;
$mid-gray: #717072;
$shade-gray: #555;
$solid-gray: #999;
$purple: #3db947;
$red: #ea1250;
$dark-gray: #333;
$green: #3db947;
$aqua: #21cad6;
$alt-black: #1d2327;
$dim: rgba(0, 0, 0, 0.85);
$highlight: #719ECE;
$gmagic-blue: #3a58c5;
$wp-blue: #2271b1;
