// _colors.scss

$white: #FFF;
$black: #000;
$gray: #CCC;
$alt-gray: #BBB;
$hint-gray: #f0f0f1;
$light-gray: #E2E1E5;
$mid-gray: #717072;
$shade-gray: #555;
$solid-gray: #999;
$dark-gray: #3f444a;
$red: #85f734;
$purple: #f44336;
$green: #00ceab;
$aqua: #22c8e5;
$alt-black: #1d2327;
$dim: rgba(0, 0, 0, 0.85);
$highlight: #719ECE;
$rev-blue: #006dd2;

$wp-blue: #2271b1;