// _scrollers.scss

@import "variables";
@import "colors";

.#{$namespace} {
	&-scroll-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		max-height: inherit;
		overflow: hidden;
    z-index: 999;
	}
	
	&-scroll-inner {
		width: calc(100% + 200px);
		height: 100%;
		max-height: inherit;
		overflow: hidden;
		overflow-y: scroll;
	}
	
	&-scroll-initial {
		opacity: 0;
	}
	
	&-scroll-content {
		position: relative;
		width: 100%;
		height: auto;
	}

	&-scrollbar {
    position: relative;
		display: block;
		width: 100%;
		height: 100%;
		background: $gray;
		cursor: default;
		&-wrap {
			position: absolute;
			top: 0;
			right: -5px;
			display: block;
			height: 100%;
			padding: 0 5px;
			touch-action: none;
			-webkit-user-select: none;
			user-select: none;
		}
		&-handle {
			display: block;
			width: calc(100% - 10px);
			height: 100%;
			margin-left: 5px;
      background: #AAA;
			cursor: default;
			&-wrap {
				position: absolute;
				left: -5px;
				display: block;
				width: calc(100% + 10px);
			}
      &-active {
        background: #A5A5A5;
      }
      &-hover {
        background: $alt-gray
      }
		}
	}

	&-scrolling {
		cursor: default;
		-webkit-user-select: none;
		user-select: none;
		* {
			cursor: default; 
			-webkit-user-select: none;
			user-select: none;
		}
	}
	
	&-scrollbar-temp {
		all: initial;
		overflow: scroll;
		position: absolute;
		opacity: 0;
		z-index: -1;
    pointer-events: none;
	}
}





