@import "_/variables";
@import "_/dropdown";
@import "_/colors";

.#{$namespace} {
  &-editor {
    margin-top: 50px;
  }
  &-panel {
    &-left {
      width: 320px;
    }
  }
  &-grid-settings {
    margin-top: 10px;
    padding: 20px;
    background-color: $white;
    &-options {
      position: relative;
      margin-top: 10px;
      padding: 20px 25px;
      background-color: $white;
    }
  }
  &-settings-input {
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      width: 88px;
      margin-right: 15px;
    }
  }
  &-options {
    margin-top: 10px;
  }
  &-additem {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    line-height: 0;
    border-radius: 4px;
    svg {
      width: 36px;
      height: 36px;
      transition: transform 0.3s ease-out;
      z-index: 99;
    }
    span,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
    }
    span {
      display: block;
      opacity: 0;
      visibility: hidden;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:after {
      content: "";
      background: $aqua;
      z-index: 98;
    }
    &:hover {
      span {
        opacity: 0.75;
        visibility: visible;
      }
      svg {
        transform: rotate(-180deg) scale(1.25);
      }
      &:after {
        opacity: 0.5;
        filter: hue-rotate(45deg);
      }
    }
  }
}

##{$namespace}-app {
  .#{$namespace} {
    &-settings-input {
      input {
        width: 100%;
      }
    }
  }
}